@import "tailwindcss";



@theme {
    --font-poppins: "Poppins", serif;
  }


  /* //To make custom instruction at once */
  /* .custom-banner-text {
    width: 249px;
    height: 180px;
    background-color: transparent;
    position: absolute;
    top: 55px;
    left: 40px;
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
  } */
